In [49]:
import pandas as pd
# pd.set_option('display.max_columns', 50000)
import numpy as np
import csv
import json
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt
import seaborn as sns
import datetime, os
# import tensorflow as tf
# print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))

In [50]:
def log1p(vec):
    return np.log1p(abs(vec))

def expm1(x):
    return np.expm1(x)

def clipExp(vec):
    return np.clip(expm1(vec), 0, None)

# def getRmse(y_train, y_train_pred):
#     print(skm.mean_squared_error(y_train, y_train_pred))

In [51]:
df = pd.read_csv("./dataset/train.csv")
df.head()

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location,Cost
0,fffe3900350033003300,Billy Jenkins,0.26,17.0,6.0,4128.0,Brass,13.91,16.27,Yes,Yes,No,Airways,No,Working Class,No,06/07/15,06/03/15,"New Michelle, OH 50777",-283.29
1,fffe3800330031003900,Jean Bryant,0.28,3.0,3.0,61.0,Brass,6.83,15.00,No,No,No,Roadways,No,Working Class,No,03/06/17,03/05/17,"New Michaelport, WY 12072",-159.96
2,fffe3600370035003100,Laura Miller,0.07,8.0,5.0,237.0,Clay,4.96,21.18,No,No,No,Roadways,Yes,Working Class,Yes,03/09/15,03/08/15,"Bowmanshire, WA 19241",-154.29
3,fffe350031003300,Robert Chaires,0.12,9.0,NaN,NaN,Aluminium,5.81,16.31,No,No,No,NaN,No,Wealthy,Yes,05/24/15,05/20/15,"East Robyn, KY 86375",-161.16
4,fffe3900320038003400,Rosalyn Krol,0.15,17.0,6.0,324.0,Aluminium,3.18,11.94,Yes,Yes,Yes,Airways,No,Working Class,No,12/18/16,12/14/16,"Aprilside, PA 52793",-159.23

In [52]:
df.describe()

,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,Cost
count,5750.000000,6125.000000,5916.000000,5.913000e+03,6500.00000,6500.000000,6.500000e+03
mean,0.461850,21.766204,9.617647,4.006948e+05,1192.42009,37.407174,1.713920e+04
std,0.265781,11.968192,5.417000,2.678081e+06,8819.61675,26.873519,2.406579e+05
min,0.000000,3.000000,2.000000,3.000000e+00,3.00000,10.000000,-8.801727e+05
25%,0.240000,12.000000,6.000000,5.030000e+02,5.23000,16.700000,1.884400e+02
50%,0.450000,20.000000,8.000000,3.102000e+03,8.02500,23.505000,3.820650e+02
75%,0.680000,30.000000,12.000000,3.645600e+04,89.47000,57.905000,1.156115e+03
max,1.000000,73.000000,50.000000,1.179279e+08,382385.67000,99.980000,1.114343e+07

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer Id            6500 non-null   object
 1   Artist Name            6500 non-null   object
 2   Artist Reputation      5750 non-null   float64
 3   Height                 6125 non-null   float64
 4   Width                  5916 non-null   float64
 5   Weight                 5913 non-null   float64
 6   Material               5736 non-null   object
 7   Price Of Sculpture     6500 non-null   float64
 8   Base Shipping Price    6500 non-null   float64
 9   International          6500 non-null   object
 10  Express Shipment       6500 non-null   object
 11  Installation Included  6500 non-null   object
 12  Transport              5108 non-null   object
 13  Fragile                6500 non-null   object
 14  Customer Information   6500 non-null   object
 15  Remote Location        5729 non-null   object
 16  Scheduled Date         6500 non-null   object
 17  Delivery Date          6500 non-null   object
 18  Customer Location      6500 non-null   object
 19  Cost                   6500 non-null   float64
dtypes: float64(7), object(13)
memory usage: 1015.8+ KB

In [54]:
# print(df["Artist Reputation"].value_counts())
# print("-"*50)
# print(df["Height"].value_counts())
# print("-"*50)
# print(df["Width"].value_counts())
# print("-"*50)
print(df["Material"].value_counts())
print("-"*50)
# print(df["Price Of Sculpture"].value_counts())
# print("-"*50)
# print(df["Base Shipping Price"].value_counts())
# print("-"*50)
print(df["International"].value_counts())
print("-"*50)
print(df["Express Shipment"].value_counts())
print("-"*50)
print(df["Installation Included"].value_counts())
print("-"*50)
print(df["Transport"].value_counts())
print("-"*50)
print(df["Fragile"].value_counts())
print("-"*50)
print(df["Customer Information"].value_counts())
print("-"*50)
print(df["Remote Location"].value_counts())
print("-"*50)
# print(df["Scheduled Date"].value_counts())
# print("-"*50)
# print(df["Delivery Date"].value_counts())
# print("-"*50)
# print(df["Customer Location"].value_counts())
# print("-"*50)
print(df["Cost"].value_counts())
print("-"*50)

Brass        847
Aluminium    845
Bronze       821
Marble       819
Clay         816
Wood         816
Stone        772
Name: Material, dtype: int64
--------------------------------------------------
No     4294
Yes    2206
Name: International, dtype: int64
--------------------------------------------------
No     4365
Yes    2135
Name: Express Shipment, dtype: int64
--------------------------------------------------
No     3916
Yes    2584
Name: Installation Included, dtype: int64
--------------------------------------------------
Roadways     2064
Airways      1817
Waterways    1227
Name: Transport, dtype: int64
--------------------------------------------------
No     5461
Yes    1039
Name: Fragile, dtype: int64
--------------------------------------------------
Working Class    4803
Wealthy          1697
Name: Customer Information, dtype: int64
--------------------------------------------------
No     4594
Yes    1135
Name: Remote Location, dtype: int64
--------------------------------------------------
144.45      4
283.60      3
269.99      3
479.27      3
193.79      3
           ..
37869.02    1
167.93      1
496.87      1
288.53      1
475.86      1
Name: Cost, Length: 6356, dtype: int64
--------------------------------------------------

In [55]:
df.isnull().values.any()

True

In [56]:
df.isnull().sum()

Customer Id                 0
Artist Name                 0
Artist Reputation         750
Height                    375
Width                     584
Weight                    587
Material                  764
Price Of Sculpture          0
Base Shipping Price         0
International               0
Express Shipment            0
Installation Included       0
Transport                1392
Fragile                     0
Customer Information        0
Remote Location           771
Scheduled Date              0
Delivery Date               0
Customer Location           0
Cost                        0
dtype: int64

In [57]:
artist_reputation_missing_value = df['Artist Reputation'].median()
height_missing_value  = df["Height"].median()
width_missing_value = df["Width"].median()
weight_missing_value = df["Weight"].median()
material_missing_value = df["Material"].mode()[0] # most occurred value
transport_missing_value = df["Transport"].mode()[0] # most occurred value
remote_location_missing_value = df["Remote Location"].mode()[0] # most occurred value


missing_value_column_names  = ['Artist Reputation',"Height","Width","Weight","Material","Transport","Remote Location"]

def handleMissingValues(df):  

    df["Artist Reputation"] = df["Artist Reputation"].fillna(artist_reputation_missing_value)
    df["Height"] = df["Height"].fillna(height_missing_value)
    df["Width"] = df["Width"].fillna(width_missing_value)
    df["Weight"] = df["Weight"].fillna(weight_missing_value)
    df["Material"] = df["Material"].fillna(material_missing_value)
    df["Transport"] = df["Transport"].fillna(transport_missing_value)
    df["Remote Location"] = df["Remote Location"].fillna(remote_location_missing_value)
    
    return df

df = handleMissingValues(df)

df.isnull().sum()

Customer Id              0
Artist Name              0
Artist Reputation        0
Height                   0
Width                    0
Weight                   0
Material                 0
Price Of Sculpture       0
Base Shipping Price      0
International            0
Express Shipment         0
Installation Included    0
Transport                0
Fragile                  0
Customer Information     0
Remote Location          0
Scheduled Date           0
Delivery Date            0
Customer Location        0
Cost                     0
dtype: int64

In [58]:
def handleDates(df):
    df['Scheduled Date']  = pd.to_datetime(df['Scheduled Date'],format="%m/%d/%y")
    df['Delivery Date']  = pd.to_datetime(df['Delivery Date'],format="%m/%d/%y")
    
        
    df['date_difference'] = (df['Delivery Date'] - df['Scheduled Date']).map(lambda x:str(x).split()[0])
    df['date_difference'] = pd.to_numeric(df['date_difference'])
    
    df['is_early'] = np.where(df['date_difference'] > 0, False, True)
    
    df["scheduled_day"] = df["Scheduled Date"].dt.day
    df["scheduled_month"] = df["Scheduled Date"].dt.month
    df["scheduled_year"] = df["Scheduled Date"].dt.year
    
    df["delivery_day"] = df["Delivery Date"].dt.day
    df["delivery_month"] = df["Delivery Date"].dt.month
    df["delivery_year"] = df["Delivery Date"].dt.year
    
    return df

df = handleDates(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer Id            6500 non-null   object
 1   Artist Name            6500 non-null   object
 2   Artist Reputation      6500 non-null   float64
 3   Height                 6500 non-null   float64
 4   Width                  6500 non-null   float64
 5   Weight                 6500 non-null   float64
 6   Material               6500 non-null   object
 7   Price Of Sculpture     6500 non-null   float64
 8   Base Shipping Price    6500 non-null   float64
 9   International          6500 non-null   object
 10  Express Shipment       6500 non-null   object
 11  Installation Included  6500 non-null   object
 12  Transport              6500 non-null   object
 13  Fragile                6500 non-null   object
 14  Customer Information   6500 non-null   object
 15  Remote Location        6500 non-null   object
 16  Scheduled Date         6500 non-null   datetime64[ns]
 17  Delivery Date          6500 non-null   datetime64[ns]
 18  Customer Location      6500 non-null   object
 19  Cost                   6500 non-null   float64
 20  date_difference        6500 non-null   int64
 21  is_early               6500 non-null   bool
 22  scheduled_day          6500 non-null   int64
 23  scheduled_month        6500 non-null   int64
 24  scheduled_year         6500 non-null   int64
 25  delivery_day           6500 non-null   int64
 26  delivery_month         6500 non-null   int64
 27  delivery_year          6500 non-null   int64
dtypes: bool(1), datetime64[ns](2), float64(7), int64(7), object(11)
memory usage: 1.3+ MB

In [59]:
def handleExtraFeatures(df):
    
    df['weight_per_shipping'] = df['Weight'] / df['Base Shipping Price']
    df['volume'] = (df['Height']**2) * (df['Width'])
    
    return df
df = handleExtraFeatures(df)
df.head()

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,...,date_difference,is_early,scheduled_day,scheduled_month,scheduled_year,delivery_day,delivery_month,delivery_year,weight_per_shipping,volume
0,fffe3900350033003300,Billy Jenkins,0.26,17.0,6.0,4128.0,Brass,13.91,16.27,Yes,...,-4,True,7,6,2015,3,6,2015,253.718500,1734.0
1,fffe3800330031003900,Jean Bryant,0.28,3.0,3.0,61.0,Brass,6.83,15.00,No,...,-1,True,6,3,2017,5,3,2017,4.066667,27.0
2,fffe3600370035003100,Laura Miller,0.07,8.0,5.0,237.0,Clay,4.96,21.18,No,...,-1,True,9,3,2015,8,3,2015,11.189802,320.0
3,fffe350031003300,Robert Chaires,0.12,9.0,8.0,3102.0,Aluminium,5.81,16.31,No,...,-4,True,24,5,2015,20,5,2015,190.190067,648.0
4,fffe3900320038003400,Rosalyn Krol,0.15,17.0,6.0,324.0,Aluminium,3.18,11.94,Yes,...,-4,True,18,12,2016,14,12,2016,27.135678,1734.0

In [60]:
# df["Cost"] = df["Cost"].abs()
df["Cost"] = log1p(df["Cost"])

In [61]:
def labelEncoding(df, onlyTransform: False, label_object = {}):
    categorical_columns = [
        'Material',
        'International',
        'Express Shipment',
        'Installation Included',
        'Transport',
        'Fragile',
        'Customer Information',
        'Remote Location',
        'is_early'
    ]
    for col in categorical_columns:
        labelencoder = None
        if onlyTransform is False:
            labelencoder = LabelEncoder()
            labelencoder.fit(df[col])
            label_object[col] = labelencoder
        else:
            labelencoder = label_object[col]
            
        df[col] = labelencoder.transform(df[col])
    return df, label_object

df, label_object = labelEncoding(df, onlyTransform= False, label_object= {})
df.head()

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,...,date_difference,is_early,scheduled_day,scheduled_month,scheduled_year,delivery_day,delivery_month,delivery_year,weight_per_shipping,volume
0,fffe3900350033003300,Billy Jenkins,0.26,17.0,6.0,4128.0,1,13.91,16.27,1,...,-4,1,7,6,2015,3,6,2015,253.718500,1734.0
1,fffe3800330031003900,Jean Bryant,0.28,3.0,3.0,61.0,1,6.83,15.00,0,...,-1,1,6,3,2017,5,3,2017,4.066667,27.0
2,fffe3600370035003100,Laura Miller,0.07,8.0,5.0,237.0,3,4.96,21.18,0,...,-1,1,9,3,2015,8,3,2015,11.189802,320.0
3,fffe350031003300,Robert Chaires,0.12,9.0,8.0,3102.0,0,5.81,16.31,0,...,-4,1,24,5,2015,20,5,2015,190.190067,648.0
4,fffe3900320038003400,Rosalyn Krol,0.15,17.0,6.0,324.0,0,3.18,11.94,1,...,-4,1,18,12,2016,14,12,2016,27.135678,1734.0

In [62]:
def oneHotEncoding(df, onlyTransform=False, one_hot_object = {}):
    categorical_columns = [
        'Material',
        'Transport',
        'Customer Information',
    ]
    for col in categorical_columns:
        
        col_data  = df[col].values.reshape(-1,1)
        
        if onlyTransform is False:
            onehot_encoder = OneHotEncoder()
            onehot_encoder = onehot_encoder.fit(col_data)
            one_hot_object[col] = onehot_encoder
        
        onehot_encoded = one_hot_object[col].transform(col_data).toarray()
        columns_list = []
        for i in range(onehot_encoded.shape[1]):
            columns_list.append(col+"_"+str(int(i)))
        dfOneHot = pd.DataFrame(onehot_encoded, columns = columns_list) 
        df = pd.concat([df, dfOneHot], axis=1)
        

    df = df.drop(categorical_columns,axis=1)
    return df, one_hot_object


df, one_hot_object = oneHotEncoding(df, onlyTransform=False, one_hot_object = {})
df.head()

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,International,Express Shipment,...,Material_2,Material_3,Material_4,Material_5,Material_6,Transport_0,Transport_1,Transport_2,Customer Information_0,Customer Information_1
0,fffe3900350033003300,Billy Jenkins,0.26,17.0,6.0,4128.0,13.91,16.27,1,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,fffe3800330031003900,Jean Bryant,0.28,3.0,3.0,61.0,6.83,15.00,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,fffe3600370035003100,Laura Miller,0.07,8.0,5.0,237.0,4.96,21.18,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,fffe350031003300,Robert Chaires,0.12,9.0,8.0,3102.0,5.81,16.31,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,fffe3900320038003400,Rosalyn Krol,0.15,17.0,6.0,324.0,3.18,11.94,1,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [63]:
redundant_columns = ['Customer Id','Artist Name','Scheduled Date','Delivery Date','Customer Location']
redundant_columns = redundant_columns + ['scheduled_day','scheduled_month','scheduled_year','delivery_day','delivery_month','delivery_year']
df = df.drop(redundant_columns,axis=1)
df.head()

,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Fragile,...,Material_2,Material_3,Material_4,Material_5,Material_6,Transport_0,Transport_1,Transport_2,Customer Information_0,Customer Information_1
0,0.26,17.0,6.0,4128.0,13.91,16.27,1,1,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.28,3.0,3.0,61.0,6.83,15.00,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.07,8.0,5.0,237.0,4.96,21.18,0,0,0,1,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.12,9.0,8.0,3102.0,5.81,16.31,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0.15,17.0,6.0,324.0,3.18,11.94,1,1,1,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [64]:
# from sklearn.preprocessing import RobustScaler
# ## scale X
# scalerX = RobustScaler(quantile_range=(25.0, 75.0))
# X = scalerX.fit_transform(df.drop("Cost", axis=1))
# dtf_scaled= pd.DataFrame(X, columns=df.drop("Cost", 
#                         axis=1).columns, index=df.index)
# ## scale Y
# scalerY = RobustScaler(quantile_range=(25.0, 75.0))
# dtf_scaled["Cost"] = scalerY.fit_transform(
#                     df["Cost"].values.reshape(-1,1))
# dtf_scaled.head()

In [65]:
y = pd.DataFrame(df["Cost"])
df = df.drop("Cost", axis=1)

X = pd.DataFrame(df)
print(X.shape)
print(y.shape)

(6500, 27)
(6500, 1)

In [66]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)


X_train = X
y_train = y

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(6500, 27)
(6500, 1)
(1300, 27)
(1300, 1)

In [67]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler



# scalerY = StandardScaler()
# scalerY = scalerY.fit(y_train)
# y_train = scalerY.transform(y_train)
# y_train = pd.DataFrame(y_train)

# y_test = scalerY.transform(y_test)
# y_test = pd.DataFrame(y_test)




scalerX = StandardScaler()
scalerX = scalerX.fit(X_train)
X_train = scalerX.transform(X_train)
X_train = pd.DataFrame(X_train)

X_test = scalerX.transform(X_test)
X_test = pd.DataFrame(X_test)

In [68]:
# from sklearn.model_selection import GridSearchCV
# param_grid = {
#     'bootstrap': [False],
#     'max_depth': [45],
#     'max_features': ["sqrt"],
#     'min_samples_leaf': [1],
#     'min_samples_split': [4],
#     'n_estimators': [4700,4800]
# }

# rf =  RandomForestRegressor(random_state=42)
# grid_search = GridSearchCV(estimator=rf, param_grid=param_grid,
#                            cv=3, n_jobs=-1, verbose=2)
# grid_search.fit(X_train, y_train.values.ravel())
# print(grid_search.best_params_)
# print("HyperParameter Grid Tuning Done")

HyperParameter Grid Search Tuning

```json
{'bootstrap': False, 'max_depth': 45, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 4, 'n_estimators': 4700}
```

In [69]:
from sklearn.ensemble import RandomForestRegressor

rgreg = RandomForestRegressor(
    n_estimators=4700,
    random_state=42,
    max_depth=45
)

In [70]:
rgreg.fit(X_train,y_train.values.ravel())
y_test_predict  = rgreg.predict(X_test)

from sklearn import metrics
r_square = metrics.r2_score(y_test,y_test_predict)
print(r_square)

0.9951801143745463

In [71]:
df_test = pd.read_csv("./dataset/test.csv")
df_test.head()

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location
0,fffe3400310033003300,James Miller,0.35,53.0,18.0,871.0,Wood,5.98,19.11,Yes,Yes,No,Airways,No,Working Class,No,07/03/17,07/06/17,"Santoshaven, IA 63481"
1,fffe3600350035003400,Karen Vetrano,0.67,7.0,4.0,108.0,Clay,6.92,13.96,No,No,No,Roadways,Yes,Working Class,No,05/02/16,05/02/16,"Ericksonton, OH 98253"
2,fffe3700360030003500,Roseanne Gaona,0.61,6.0,5.0,97.0,Aluminium,4.23,13.62,Yes,No,No,Airways,No,Working Class,No,01/04/18,01/06/18,APO AP 83453
3,fffe350038003600,Todd Almanza,0.14,15.0,8.0,757.0,Clay,6.28,23.79,No,Yes,No,Roadways,Yes,Wealthy,No,09/14/17,09/17/17,"Antonioborough, AL 54778"
4,fffe3500390032003500,Francis Rivero,0.63,10.0,4.0,1673.0,Marble,4.39,17.83,No,Yes,Yes,Roadways,No,Working Class,Yes,12/03/17,12/02/17,"Lake Frances, LA 03040"

In [72]:
df_test =  handleMissingValues(df_test)

In [73]:
df_test = handleDates(df_test)

In [74]:
df_test = handleExtraFeatures(df_test)

In [75]:
df_test, label_object = labelEncoding(df_test, onlyTransform= True, label_object= label_object)

In [76]:
df_test, one_hot_object = oneHotEncoding(df_test, onlyTransform=True, one_hot_object = one_hot_object)

In [77]:
df_test.head()

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,International,Express Shipment,...,Material_2,Material_3,Material_4,Material_5,Material_6,Transport_0,Transport_1,Transport_2,Customer Information_0,Customer Information_1
0,fffe3400310033003300,James Miller,0.35,53.0,18.0,871.0,5.98,19.11,1,1,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
1,fffe3600350035003400,Karen Vetrano,0.67,7.0,4.0,108.0,6.92,13.96,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,fffe3700360030003500,Roseanne Gaona,0.61,6.0,5.0,97.0,4.23,13.62,1,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,fffe350038003600,Todd Almanza,0.14,15.0,8.0,757.0,6.28,23.79,0,1,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,fffe3500390032003500,Francis Rivero,0.63,10.0,4.0,1673.0,4.39,17.83,0,1,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [78]:
customer_ids = df_test["Customer Id"]
customer_ids_df = pd.DataFrame(data = customer_ids,columns=["Customer Id"])
df_test = df_test.drop(redundant_columns,axis=1)
df_test.head()

,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Fragile,...,Material_2,Material_3,Material_4,Material_5,Material_6,Transport_0,Transport_1,Transport_2,Customer Information_0,Customer Information_1
0,0.35,53.0,18.0,871.0,5.98,19.11,1,1,0,0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
1,0.67,7.0,4.0,108.0,6.92,13.96,0,0,0,1,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.61,6.0,5.0,97.0,4.23,13.62,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.14,15.0,8.0,757.0,6.28,23.79,0,1,0,1,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0.63,10.0,4.0,1673.0,4.39,17.83,0,1,1,0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [79]:
x_test_submit = scalerX.transform(df_test)
x_test_submit = pd.DataFrame(x_test_submit)
x_test_submit.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,-0.441959,2.695735,1.643686,-0.142343,-0.134533,-0.680915,1.395174,1.429859,-0.812316,-0.436186,...,-0.380221,-0.378894,-0.379690,-0.367119,2.639259,1.605405,-1.065527,-0.482385,-0.594408,0.594408
1,0.838119,-1.261535,-1.054770,-0.142642,-0.134427,-0.872568,-0.716757,-0.699370,-0.812316,2.292600,...,-0.380221,2.639259,-0.379690,-0.367119,-0.378894,-0.622896,0.938503,-0.482385,-0.594408,0.594408
2,0.598104,-1.347563,-0.862023,-0.142646,-0.134732,-0.885221,1.395174,-0.699370,-0.812316,-0.436186,...,-0.380221,-0.378894,-0.379690,-0.367119,-0.378894,1.605405,-1.065527,-0.482385,-0.594408,0.594408
3,-1.282011,-0.573314,-0.283783,-0.142388,-0.134499,-0.506752,-0.716757,1.429859,-0.812316,2.292600,...,-0.380221,2.639259,-0.379690,-0.367119,-0.378894,-0.622896,0.938503,-0.482385,1.682346,-1.682346
4,0.678109,-1.003452,-1.054770,-0.142030,-0.134714,-0.728549,-0.716757,1.429859,1.231048,-0.436186,...,-0.380221,-0.378894,2.633725,-0.367119,-0.378894,-0.622896,0.938503,-0.482385,-0.594408,0.594408

In [80]:
prediction = rgreg.predict(x_test_submit)
# prediction = scalerY.inverse_transform(prediction)

In [81]:
df_to_submit = pd.concat([customer_ids_df,pd.DataFrame(data = prediction,columns=["Cost"])], axis=1)

In [82]:
# df_to_submit["Cost"] = df_to_submit["Cost"].abs()
df_to_submit["Cost"] = expm1(df_to_submit["Cost"])
df_to_submit.head()

            Customer Id        Cost
0  fffe3400310033003300  232.458548
1  fffe3600350035003400  291.932111
2  fffe3700360030003500  218.014500
3      fffe350038003600  191.015445
4  fffe3500390032003500  301.951382

In [83]:
df_to_submit.to_csv(path_or_buf="./df_to_submit"+".csv",float_format='%.2f',index=False)