In [228]:
import pandas as pd
pd.set_option('display.max_columns', 50000)
import numpy as np
import csv
import json
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt
import seaborn as sns
import datetime, os
import tensorflow as tf
print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))

Num GPUs Available:  1

In [229]:
def log1p(vec):
    return np.log1p(abs(vec))

def expm1(x):
    return np.expm1(x)

def clipExp(vec):
    return np.clip(expm1(vec), 0, None)

# def getRmse(y_train, y_train_pred):
#     print(skm.mean_squared_error(y_train, y_train_pred))

In [230]:
df = pd.read_csv("./dataset/train.csv")
df.head()

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location,Cost
0,fffe3900350033003300,Billy Jenkins,0.26,17.0,6.0,4128.0,Brass,13.91,16.27,Yes,Yes,No,Airways,No,Working Class,No,06/07/15,06/03/15,"New Michelle, OH 50777",-283.29
1,fffe3800330031003900,Jean Bryant,0.28,3.0,3.0,61.0,Brass,6.83,15.00,No,No,No,Roadways,No,Working Class,No,03/06/17,03/05/17,"New Michaelport, WY 12072",-159.96
2,fffe3600370035003100,Laura Miller,0.07,8.0,5.0,237.0,Clay,4.96,21.18,No,No,No,Roadways,Yes,Working Class,Yes,03/09/15,03/08/15,"Bowmanshire, WA 19241",-154.29
3,fffe350031003300,Robert Chaires,0.12,9.0,NaN,NaN,Aluminium,5.81,16.31,No,No,No,NaN,No,Wealthy,Yes,05/24/15,05/20/15,"East Robyn, KY 86375",-161.16
4,fffe3900320038003400,Rosalyn Krol,0.15,17.0,6.0,324.0,Aluminium,3.18,11.94,Yes,Yes,Yes,Airways,No,Working Class,No,12/18/16,12/14/16,"Aprilside, PA 52793",-159.23

In [231]:
df.describe()

,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,Cost
count,5750.000000,6125.000000,5916.000000,5.913000e+03,6500.00000,6500.000000,6.500000e+03
mean,0.461850,21.766204,9.617647,4.006948e+05,1192.42009,37.407174,1.713920e+04
std,0.265781,11.968192,5.417000,2.678081e+06,8819.61675,26.873519,2.406579e+05
min,0.000000,3.000000,2.000000,3.000000e+00,3.00000,10.000000,-8.801727e+05
25%,0.240000,12.000000,6.000000,5.030000e+02,5.23000,16.700000,1.884400e+02
50%,0.450000,20.000000,8.000000,3.102000e+03,8.02500,23.505000,3.820650e+02
75%,0.680000,30.000000,12.000000,3.645600e+04,89.47000,57.905000,1.156115e+03
max,1.000000,73.000000,50.000000,1.179279e+08,382385.67000,99.980000,1.114343e+07

In [232]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer Id            6500 non-null   object
 1   Artist Name            6500 non-null   object
 2   Artist Reputation      5750 non-null   float64
 3   Height                 6125 non-null   float64
 4   Width                  5916 non-null   float64
 5   Weight                 5913 non-null   float64
 6   Material               5736 non-null   object
 7   Price Of Sculpture     6500 non-null   float64
 8   Base Shipping Price    6500 non-null   float64
 9   International          6500 non-null   object
 10  Express Shipment       6500 non-null   object
 11  Installation Included  6500 non-null   object
 12  Transport              5108 non-null   object
 13  Fragile                6500 non-null   object
 14  Customer Information   6500 non-null   object
 15  Remote Location        5729 non-null   object
 16  Scheduled Date         6500 non-null   object
 17  Delivery Date          6500 non-null   object
 18  Customer Location      6500 non-null   object
 19  Cost                   6500 non-null   float64
dtypes: float64(7), object(13)
memory usage: 1015.8+ KB

In [233]:
# print(df["Artist Reputation"].value_counts())
# print("-"*50)
# print(df["Height"].value_counts())
# print("-"*50)
# print(df["Width"].value_counts())
# print("-"*50)
print(df["Material"].value_counts())
print("-"*50)
# print(df["Price Of Sculpture"].value_counts())
# print("-"*50)
# print(df["Base Shipping Price"].value_counts())
# print("-"*50)
print(df["International"].value_counts())
print("-"*50)
print(df["Express Shipment"].value_counts())
print("-"*50)
print(df["Installation Included"].value_counts())
print("-"*50)
print(df["Transport"].value_counts())
print("-"*50)
print(df["Fragile"].value_counts())
print("-"*50)
print(df["Customer Information"].value_counts())
print("-"*50)
print(df["Remote Location"].value_counts())
print("-"*50)
# print(df["Scheduled Date"].value_counts())
# print("-"*50)
# print(df["Delivery Date"].value_counts())
# print("-"*50)
# print(df["Customer Location"].value_counts())
# print("-"*50)
print(df["Cost"].value_counts())
print("-"*50)

Brass        847
Aluminium    845
Bronze       821
Marble       819
Clay         816
Wood         816
Stone        772
Name: Material, dtype: int64
--------------------------------------------------
No     4294
Yes    2206
Name: International, dtype: int64
--------------------------------------------------
No     4365
Yes    2135
Name: Express Shipment, dtype: int64
--------------------------------------------------
No     3916
Yes    2584
Name: Installation Included, dtype: int64
--------------------------------------------------
Roadways     2064
Airways      1817
Waterways    1227
Name: Transport, dtype: int64
--------------------------------------------------
No     5461
Yes    1039
Name: Fragile, dtype: int64
--------------------------------------------------
Working Class    4803
Wealthy          1697
Name: Customer Information, dtype: int64
--------------------------------------------------
No     4594
Yes    1135
Name: Remote Location, dtype: int64
--------------------------------------------------
144.45      4
283.60      3
269.99      3
479.27      3
193.79      3
           ..
37869.02    1
167.93      1
496.87      1
288.53      1
475.86      1
Name: Cost, Length: 6356, dtype: int64
--------------------------------------------------

In [234]:
df.isnull().values.any()

True

In [235]:
df.isnull().sum()

Customer Id                 0
Artist Name                 0
Artist Reputation         750
Height                    375
Width                     584
Weight                    587
Material                  764
Price Of Sculpture          0
Base Shipping Price         0
International               0
Express Shipment            0
Installation Included       0
Transport                1392
Fragile                     0
Customer Information        0
Remote Location           771
Scheduled Date              0
Delivery Date               0
Customer Location           0
Cost                        0
dtype: int64

In [236]:
artist_reputation_missing_value = df['Artist Reputation'].median()
height_missing_value  = df["Height"].median()
width_missing_value = df["Width"].median()
weight_missing_value = df["Weight"].median()
material_missing_value = df["Material"].mode()[0] # most occurred value
transport_missing_value = df["Transport"].mode()[0] # most occurred value
remote_location_missing_value = df["Remote Location"].mode()[0] # most occurred value


missing_value_column_names  = ['Artist Reputation',"Height","Width","Weight","Material","Transport","Remote Location"]

def handleMissingValues(df):  

    df["Artist Reputation"] = df["Artist Reputation"].fillna(artist_reputation_missing_value)
    df["Height"] = df["Height"].fillna(height_missing_value)
    df["Width"] = df["Width"].fillna(width_missing_value)
    df["Weight"] = df["Weight"].fillna(weight_missing_value)
    df["Material"] = df["Material"].fillna(material_missing_value)
    df["Transport"] = df["Transport"].fillna(transport_missing_value)
    df["Remote Location"] = df["Remote Location"].fillna(remote_location_missing_value)
    
    return df

df = handleMissingValues(df)

df.isnull().sum()

Customer Id              0
Artist Name              0
Artist Reputation        0
Height                   0
Width                    0
Weight                   0
Material                 0
Price Of Sculpture       0
Base Shipping Price      0
International            0
Express Shipment         0
Installation Included    0
Transport                0
Fragile                  0
Customer Information     0
Remote Location          0
Scheduled Date           0
Delivery Date            0
Customer Location        0
Cost                     0
dtype: int64

In [237]:
def handleDates(df):
    df['Scheduled Date']  = pd.to_datetime(df['Scheduled Date'],format="%m/%d/%y")
    df['Delivery Date']  = pd.to_datetime(df['Delivery Date'],format="%m/%d/%y")
    
    df['date_difference'] = (df['Delivery Date'] - df['Scheduled Date']).map(lambda x:str(x).split()[0])
    df['date_difference'] = pd.to_numeric(df['date_difference'])
    
    df['is_early'] = np.where(df['date_difference'] > 0, False, True)
    
    df["scheduled_day"] = df["Scheduled Date"].dt.day
    df["scheduled_month"] = df["Scheduled Date"].dt.month
    df["scheduled_year"] = df["Scheduled Date"].dt.year
    
    df["delivery_day"] = df["Delivery Date"].dt.day
    df["delivery_month"] = df["Delivery Date"].dt.month
    df["delivery_year"] = df["Delivery Date"].dt.year
    
    return df

df = handleDates(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer Id            6500 non-null   object
 1   Artist Name            6500 non-null   object
 2   Artist Reputation      6500 non-null   float64
 3   Height                 6500 non-null   float64
 4   Width                  6500 non-null   float64
 5   Weight                 6500 non-null   float64
 6   Material               6500 non-null   object
 7   Price Of Sculpture     6500 non-null   float64
 8   Base Shipping Price    6500 non-null   float64
 9   International          6500 non-null   object
 10  Express Shipment       6500 non-null   object
 11  Installation Included  6500 non-null   object
 12  Transport              6500 non-null   object
 13  Fragile                6500 non-null   object
 14  Customer Information   6500 non-null   object
 15  Remote Location        6500 non-null   object
 16  Scheduled Date         6500 non-null   datetime64[ns]
 17  Delivery Date          6500 non-null   datetime64[ns]
 18  Customer Location      6500 non-null   object
 19  Cost                   6500 non-null   float64
 20  date_difference        6500 non-null   int64
 21  is_early               6500 non-null   bool
 22  scheduled_day          6500 non-null   int64
 23  scheduled_month        6500 non-null   int64
 24  scheduled_year         6500 non-null   int64
 25  delivery_day           6500 non-null   int64
 26  delivery_month         6500 non-null   int64
 27  delivery_year          6500 non-null   int64
dtypes: bool(1), datetime64[ns](2), float64(7), int64(7), object(11)
memory usage: 1.3+ MB

In [238]:
def handleExtraFeatures(df):
    
    df['weight_per_shipping'] = df['Weight'] / df['Base Shipping Price']
    df['volume'] = (df['Height']**2) * (df['Width'])
    
    return df
df = handleExtraFeatures(df)
df.head()

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location,Cost,date_difference,is_early,scheduled_day,scheduled_month,scheduled_year,delivery_day,delivery_month,delivery_year,weight_per_shipping,volume
0,fffe3900350033003300,Billy Jenkins,0.26,17.0,6.0,4128.0,Brass,13.91,16.27,Yes,Yes,No,Airways,No,Working Class,No,2015-06-07,2015-06-03,"New Michelle, OH 50777",-283.29,-4,True,7,6,2015,3,6,2015,253.718500,1734.0
1,fffe3800330031003900,Jean Bryant,0.28,3.0,3.0,61.0,Brass,6.83,15.00,No,No,No,Roadways,No,Working Class,No,2017-03-06,2017-03-05,"New Michaelport, WY 12072",-159.96,-1,True,6,3,2017,5,3,2017,4.066667,27.0
2,fffe3600370035003100,Laura Miller,0.07,8.0,5.0,237.0,Clay,4.96,21.18,No,No,No,Roadways,Yes,Working Class,Yes,2015-03-09,2015-03-08,"Bowmanshire, WA 19241",-154.29,-1,True,9,3,2015,8,3,2015,11.189802,320.0
3,fffe350031003300,Robert Chaires,0.12,9.0,8.0,3102.0,Aluminium,5.81,16.31,No,No,No,Roadways,No,Wealthy,Yes,2015-05-24,2015-05-20,"East Robyn, KY 86375",-161.16,-4,True,24,5,2015,20,5,2015,190.190067,648.0
4,fffe3900320038003400,Rosalyn Krol,0.15,17.0,6.0,324.0,Aluminium,3.18,11.94,Yes,Yes,Yes,Airways,No,Working Class,No,2016-12-18,2016-12-14,"Aprilside, PA 52793",-159.23,-4,True,18,12,2016,14,12,2016,27.135678,1734.0

In [239]:
# df["Cost"] = df["Cost"].abs()
df["Cost"] = log1p(df["Cost"])

In [240]:
def labelEncoding(df, onlyTransform: False, label_object = {}):
    categorical_columns = [
        'Material',
        'International',
        'Express Shipment',
        'Installation Included',
        'Transport',
        'Fragile',
        'Customer Information',
        'Remote Location',
        'is_early'
    ]
    for col in categorical_columns:
        labelencoder = None
        if onlyTransform is False:
            labelencoder = LabelEncoder()
            labelencoder.fit(df[col])
            label_object[col] = labelencoder
        else:
            labelencoder = label_object[col]
            
        df[col] = labelencoder.transform(df[col])
    return df, label_object

df, label_object = labelEncoding(df, onlyTransform= False, label_object= {})
df.head()

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location,Cost,date_difference,is_early,scheduled_day,scheduled_month,scheduled_year,delivery_day,delivery_month,delivery_year,weight_per_shipping,volume
0,fffe3900350033003300,Billy Jenkins,0.26,17.0,6.0,4128.0,1,13.91,16.27,1,1,0,0,0,1,0,2015-06-07,2015-06-03,"New Michelle, OH 50777",5.649995,-4,1,7,6,2015,3,6,2015,253.718500,1734.0
1,fffe3800330031003900,Jean Bryant,0.28,3.0,3.0,61.0,1,6.83,15.00,0,0,0,1,0,1,0,2017-03-06,2017-03-05,"New Michaelport, WY 12072",5.081156,-1,1,6,3,2017,5,3,2017,4.066667,27.0
2,fffe3600370035003100,Laura Miller,0.07,8.0,5.0,237.0,3,4.96,21.18,0,0,0,1,1,1,1,2015-03-09,2015-03-08,"Bowmanshire, WA 19241",5.045294,-1,1,9,3,2015,8,3,2015,11.189802,320.0
3,fffe350031003300,Robert Chaires,0.12,9.0,8.0,3102.0,0,5.81,16.31,0,0,0,1,0,0,1,2015-05-24,2015-05-20,"East Robyn, KY 86375",5.088584,-4,1,24,5,2015,20,5,2015,190.190067,648.0
4,fffe3900320038003400,Rosalyn Krol,0.15,17.0,6.0,324.0,0,3.18,11.94,1,1,1,0,0,1,0,2016-12-18,2016-12-14,"Aprilside, PA 52793",5.076610,-4,1,18,12,2016,14,12,2016,27.135678,1734.0

In [241]:
def oneHotEncoding(df, onlyTransform=False, one_hot_object = {}):
    categorical_columns = [
        'Material',
        'Transport',
        'Customer Information',
    ]
    for col in categorical_columns:
        
        col_data  = df[col].values.reshape(-1,1)
        
        if onlyTransform is False:
            onehot_encoder = OneHotEncoder()
            onehot_encoder = onehot_encoder.fit(col_data)
            one_hot_object[col] = onehot_encoder
        
        onehot_encoded = one_hot_object[col].transform(col_data).toarray()
        columns_list = []
        for i in range(onehot_encoded.shape[1]):
            columns_list.append(col+"_"+str(int(i)))
        dfOneHot = pd.DataFrame(onehot_encoded, columns = columns_list) 
        df = pd.concat([df, dfOneHot], axis=1)
        

    df = df.drop(categorical_columns,axis=1)
    return df, one_hot_object


df, one_hot_object = oneHotEncoding(df, onlyTransform=False, one_hot_object = {})
df.head()

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Fragile,Remote Location,Scheduled Date,Delivery Date,Customer Location,Cost,date_difference,is_early,scheduled_day,scheduled_month,scheduled_year,delivery_day,delivery_month,delivery_year,weight_per_shipping,volume,Material_0,Material_1,Material_2,Material_3,Material_4,Material_5,Material_6,Transport_0,Transport_1,Transport_2,Customer Information_0,Customer Information_1
0,fffe3900350033003300,Billy Jenkins,0.26,17.0,6.0,4128.0,13.91,16.27,1,1,0,0,0,2015-06-07,2015-06-03,"New Michelle, OH 50777",5.649995,-4,1,7,6,2015,3,6,2015,253.718500,1734.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,fffe3800330031003900,Jean Bryant,0.28,3.0,3.0,61.0,6.83,15.00,0,0,0,0,0,2017-03-06,2017-03-05,"New Michaelport, WY 12072",5.081156,-1,1,6,3,2017,5,3,2017,4.066667,27.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,fffe3600370035003100,Laura Miller,0.07,8.0,5.0,237.0,4.96,21.18,0,0,0,1,1,2015-03-09,2015-03-08,"Bowmanshire, WA 19241",5.045294,-1,1,9,3,2015,8,3,2015,11.189802,320.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,fffe350031003300,Robert Chaires,0.12,9.0,8.0,3102.0,5.81,16.31,0,0,0,0,1,2015-05-24,2015-05-20,"East Robyn, KY 86375",5.088584,-4,1,24,5,2015,20,5,2015,190.190067,648.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,fffe3900320038003400,Rosalyn Krol,0.15,17.0,6.0,324.0,3.18,11.94,1,1,1,0,0,2016-12-18,2016-12-14,"Aprilside, PA 52793",5.076610,-4,1,18,12,2016,14,12,2016,27.135678,1734.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [242]:
redundant_columns = ['Customer Id','Artist Name','Scheduled Date','Delivery Date','Customer Location']
redundant_columns = redundant_columns + ['scheduled_day','scheduled_month','scheduled_year','delivery_day','delivery_month','delivery_year']
df = df.drop(redundant_columns,axis=1)
df.head()

,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Fragile,Remote Location,Cost,date_difference,is_early,weight_per_shipping,volume,Material_0,Material_1,Material_2,Material_3,Material_4,Material_5,Material_6,Transport_0,Transport_1,Transport_2,Customer Information_0,Customer Information_1
0,0.26,17.0,6.0,4128.0,13.91,16.27,1,1,0,0,0,5.649995,-4,1,253.718500,1734.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.28,3.0,3.0,61.0,6.83,15.00,0,0,0,0,0,5.081156,-1,1,4.066667,27.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.07,8.0,5.0,237.0,4.96,21.18,0,0,0,1,1,5.045294,-1,1,11.189802,320.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,0.12,9.0,8.0,3102.0,5.81,16.31,0,0,0,0,1,5.088584,-4,1,190.190067,648.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0.15,17.0,6.0,324.0,3.18,11.94,1,1,1,0,0,5.076610,-4,1,27.135678,1734.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [243]:
# from sklearn.preprocessing import RobustScaler
# ## scale X
# scalerX = RobustScaler(quantile_range=(25.0, 75.0))
# X = scalerX.fit_transform(df.drop("Cost", axis=1))
# dtf_scaled= pd.DataFrame(X, columns=df.drop("Cost", 
#                         axis=1).columns, index=df.index)
# ## scale Y
# scalerY = RobustScaler(quantile_range=(25.0, 75.0))
# dtf_scaled["Cost"] = scalerY.fit_transform(
#                     df["Cost"].values.reshape(-1,1))
# dtf_scaled.head()

In [244]:
y = pd.DataFrame(df["Cost"])
df = df.drop("Cost", axis=1)

X = pd.DataFrame(df)
print(X.shape)
print(y.shape)

(6500, 27)
(6500, 1)

In [245]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)


# X_train = X
# y_train = y

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(5200, 27)
(5200, 1)
(1300, 27)
(1300, 1)

In [246]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler



scalerY = StandardScaler()
scalerY = scalerY.fit(y_train)
y_train = scalerY.transform(y_train)
y_train = pd.DataFrame(y_train)

y_test = scalerY.transform(y_test)
y_test = pd.DataFrame(y_test)




scalerX = StandardScaler()
scalerX = scalerX.fit(X_train)
X_train = scalerX.transform(X_train)
X_train = pd.DataFrame(X_train)

X_test = scalerX.transform(X_test)
X_test = pd.DataFrame(X_test)

In [247]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Activation,Dropout 
from tensorflow.keras.regularizers import L2

model = Sequential()
model.add(Dense(512,input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(256, kernel_regularizer=L2(0.01),activation='relu'))
model.add(Dense(256, kernel_regularizer=L2(0.01),activation='relu'))
model.add(Dense(128, kernel_regularizer=L2(0.01), activation='relu'))
model.add(Dense(128, kernel_regularizer=L2(0.01),activation='relu'))
model.add(Dense(64, kernel_regularizer=L2(0.01), activation='relu'))
model.add(Dense(64, kernel_regularizer=L2(0.01),activation='relu'))
model.add(Dense(32, kernel_regularizer=L2(0.01), activation='relu'))
model.add(Dense(32, kernel_regularizer=L2(0.01),activation='relu'))
model.add(Dense(16, kernel_regularizer=L2(0.01), activation='relu'))
model.add(Dense(16, kernel_regularizer=L2(0.01),activation='relu'))
model.add(Dense(8, kernel_regularizer=L2(0.01), activation='relu'))
model.add(Dense(8, kernel_regularizer=L2(0.01),activation='relu'))
model.add(Dense(1, kernel_initializer='normal',activation='linear'))

model.compile(optimizer='adam',
                loss='mean_squared_error',
                metrics=['mean_squared_logarithmic_error'])

print(model.summary())

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_56 (Dense)             (None, 512)               14336
_________________________________________________________________
dense_57 (Dense)             (None, 256)               131328
_________________________________________________________________
dense_58 (Dense)             (None, 256)               65792
_________________________________________________________________
dense_59 (Dense)             (None, 128)               32896
_________________________________________________________________
dense_60 (Dense)             (None, 128)               16512
_________________________________________________________________
dense_61 (Dense)             (None, 64)                8256
_________________________________________________________________
dense_62 (Dense)             (None, 64)                4160
_________________________________________________________________
dense_63 (Dense)             (None, 32)                2080
_________________________________________________________________
dense_64 (Dense)             (None, 32)                1056
_________________________________________________________________
dense_65 (Dense)             (None, 16)                528
_________________________________________________________________
dense_66 (Dense)             (None, 16)                272
_________________________________________________________________
dense_67 (Dense)             (None, 8)                 136
_________________________________________________________________
dense_68 (Dense)             (None, 8)                 72
_________________________________________________________________
dense_69 (Dense)             (None, 1)                 9
=================================================================
Total params: 277,433
Trainable params: 277,433
Non-trainable params: 0
_________________________________________________________________
None

In [248]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26
0,-1.596010,0.120951,-0.089117,-0.137777,-0.128532,-0.536168,-0.711292,-0.705781,1.244596,-0.434248,2.179957,0.841452,-1.258766,-0.120243,-0.236230,-0.384581,-0.573797,-0.378629,-0.379292,-0.379292,-0.365904,2.604694,-0.616476,0.930847,-0.482506,-0.595119,0.595119
1,1.939639,0.554586,0.493052,-0.136517,-0.127429,-0.660550,1.405892,1.416869,1.244596,2.302831,-0.458725,0.021293,0.794429,-0.117163,0.126512,-0.384581,-0.573797,-0.378629,2.636488,-0.379292,-0.365904,-0.383922,1.622124,-1.074291,-0.482506,-0.595119,0.595119
2,0.453059,2.289127,1.075221,-0.136232,-0.125646,-0.938910,1.405892,1.416869,1.244596,-0.434248,-0.458725,0.431372,-1.258766,-0.114050,2.089864,2.600230,-0.573797,-0.378629,-0.379292,-0.379292,-0.365904,-0.383922,1.622124,-1.074291,-0.482506,-0.595119,0.595119
3,1.256616,-0.746319,-0.477229,-0.127815,-0.122568,0.915578,-0.711292,-0.705781,1.244596,-0.434248,2.179957,-0.388787,0.794429,-0.112697,-0.515527,-0.384581,-0.573797,-0.378629,-0.379292,2.636488,-0.365904,-0.383922,-0.616476,0.930847,-0.482506,-0.595119,0.595119
4,0.412881,0.467859,0.298996,-0.128592,-0.126814,1.064311,1.405892,1.416869,-0.803473,-0.434248,-0.458725,1.661610,-1.258766,-0.113724,0.018087,-0.384581,1.742776,-0.378629,-0.379292,-0.379292,-0.365904,-0.383922,1.622124,-1.074291,-0.482506,1.680336,-1.680336

In [249]:
logdir = os.path.join("logs", datetime.datetime.now().strftime("%Y%m%d-%H%M%S"))
tensorboard_callback = tf.keras.callbacks.TensorBoard(logdir, histogram_freq=1)

In [250]:
# %load_ext tensorboard
# %tensorboard --logdir logs
# from tensorboard import notebook
# notebook.list() # View open TensorBoard instances
# notebook.display(port=6006, height=1000)

In [251]:
model.fit(X_train,y_train,validation_data=(X_test,y_test),batch_size=500,epochs=100,verbose=1,callbacks=[tensorboard_callback])

Epoch 1/100
11/11 [==============================] - 6s 408ms/step - loss: 11.9659 - mean_squared_logarithmic_error: 0.1933 - val_loss: 9.9066 - val_mean_squared_logarithmic_error: 0.2159
Epoch 2/100
11/11 [==============================] - 0s 23ms/step - loss: 9.3020 - mean_squared_logarithmic_error: 0.1991 - val_loss: 7.6889 - val_mean_squared_logarithmic_error: 0.2159
Epoch 3/100
11/11 [==============================] - 0s 23ms/step - loss: 7.1782 - mean_squared_logarithmic_error: 0.1898 - val_loss: 6.0141 - val_mean_squared_logarithmic_error: 0.2153
Epoch 4/100
11/11 [==============================] - 0s 23ms/step - loss: 5.6427 - mean_squared_logarithmic_error: 0.1969 - val_loss: 4.7731 - val_mean_squared_logarithmic_error: 0.2132
Epoch 5/100
11/11 [==============================] - 0s 25ms/step - loss: 4.5116 - mean_squared_logarithmic_error: 0.1941 - val_loss: 3.8604 - val_mean_squared_logarithmic_error: 0.2107
Epoch 6/100
11/11 [==============================] - 0s 23ms/step - loss: 3.6500 - mean_squared_logarithmic_error: 0.1958 - val_loss: 3.1869 - val_mean_squared_logarithmic_error: 0.2079
Epoch 7/100
11/11 [==============================] - 0s 24ms/step - loss: 3.0081 - mean_squared_logarithmic_error: 0.1858 - val_loss: 2.6791 - val_mean_squared_logarithmic_error: 0.2025
Epoch 8/100
11/11 [==============================] - 0s 22ms/step - loss: 2.5119 - mean_squared_logarithmic_error: 0.1794 - val_loss: 2.2719 - val_mean_squared_logarithmic_error: 0.1918
Epoch 9/100
11/11 [==============================] - 0s 23ms/step - loss: 2.1288 - mean_squared_logarithmic_error: 0.1708 - val_loss: 1.8979 - val_mean_squared_logarithmic_error: 0.1713
Epoch 10/100
11/11 [==============================] - 0s 24ms/step - loss: 1.7238 - mean_squared_logarithmic_error: 0.1402 - val_loss: 1.6107 - val_mean_squared_logarithmic_error: 0.1305
Epoch 11/100
11/11 [==============================] - 0s 22ms/step - loss: 1.4527 - mean_squared_logarithmic_error: 0.0997 - val_loss: 1.2073 - val_mean_squared_logarithmic_error: 0.0391
Epoch 12/100
11/11 [==============================] - 0s 23ms/step - loss: 1.2478 - mean_squared_logarithmic_error: 0.0546 - val_loss: 1.0852 - val_mean_squared_logarithmic_error: 0.0354
Epoch 13/100
11/11 [==============================] - 0s 22ms/step - loss: 1.0576 - mean_squared_logarithmic_error: 0.0371 - val_loss: 0.9640 - val_mean_squared_logarithmic_error: 0.0433
Epoch 14/100
11/11 [==============================] - 0s 22ms/step - loss: 0.9722 - mean_squared_logarithmic_error: 0.0361 - val_loss: 0.8894 - val_mean_squared_logarithmic_error: 0.0323
Epoch 15/100
11/11 [==============================] - 0s 23ms/step - loss: 0.8729 - mean_squared_logarithmic_error: 0.0365 - val_loss: 0.8622 - val_mean_squared_logarithmic_error: 0.0328
Epoch 16/100
11/11 [==============================] - 0s 22ms/step - loss: 0.8198 - mean_squared_logarithmic_error: 0.0283 - val_loss: 0.7689 - val_mean_squared_logarithmic_error: 0.0343
Epoch 17/100
11/11 [==============================] - 0s 24ms/step - loss: 0.7264 - mean_squared_logarithmic_error: 0.0278 - val_loss: 0.7126 - val_mean_squared_logarithmic_error: 0.0246
Epoch 18/100
11/11 [==============================] - 0s 22ms/step - loss: 0.6771 - mean_squared_logarithmic_error: 0.0235 - val_loss: 0.7136 - val_mean_squared_logarithmic_error: 0.0292
Epoch 19/100
11/11 [==============================] - 0s 22ms/step - loss: 0.7074 - mean_squared_logarithmic_error: 0.0299 - val_loss: 0.6983 - val_mean_squared_logarithmic_error: 0.0341
Epoch 20/100
11/11 [==============================] - 0s 23ms/step - loss: 0.6443 - mean_squared_logarithmic_error: 0.0277 - val_loss: 0.6339 - val_mean_squared_logarithmic_error: 0.0230
Epoch 21/100
11/11 [==============================] - 0s 23ms/step - loss: 0.6143 - mean_squared_logarithmic_error: 0.0218 - val_loss: 0.6140 - val_mean_squared_logarithmic_error: 0.0231
Epoch 22/100
11/11 [==============================] - 0s 23ms/step - loss: 0.5908 - mean_squared_logarithmic_error: 0.0227 - val_loss: 0.5711 - val_mean_squared_logarithmic_error: 0.0237
Epoch 23/100
11/11 [==============================] - 0s 24ms/step - loss: 0.5542 - mean_squared_logarithmic_error: 0.0211 - val_loss: 0.5484 - val_mean_squared_logarithmic_error: 0.0217
Epoch 24/100
11/11 [==============================] - 0s 23ms/step - loss: 0.5356 - mean_squared_logarithmic_error: 0.0207 - val_loss: 0.5323 - val_mean_squared_logarithmic_error: 0.0221
Epoch 25/100
11/11 [==============================] - 0s 23ms/step - loss: 0.5143 - mean_squared_logarithmic_error: 0.0206 - val_loss: 0.5137 - val_mean_squared_logarithmic_error: 0.0204
Epoch 26/100
11/11 [==============================] - 0s 23ms/step - loss: 0.4935 - mean_squared_logarithmic_error: 0.0178 - val_loss: 0.5147 - val_mean_squared_logarithmic_error: 0.0210
Epoch 27/100
11/11 [==============================] - 0s 23ms/step - loss: 0.4906 - mean_squared_logarithmic_error: 0.0189 - val_loss: 0.5063 - val_mean_squared_logarithmic_error: 0.0197
Epoch 28/100
11/11 [==============================] - 0s 22ms/step - loss: 0.4798 - mean_squared_logarithmic_error: 0.0188 - val_loss: 0.4824 - val_mean_squared_logarithmic_error: 0.0192
Epoch 29/100
11/11 [==============================] - 0s 21ms/step - loss: 0.4721 - mean_squared_logarithmic_error: 0.0174 - val_loss: 0.4726 - val_mean_squared_logarithmic_error: 0.0192
Epoch 30/100
11/11 [==============================] - 0s 22ms/step - loss: 0.4535 - mean_squared_logarithmic_error: 0.0178 - val_loss: 0.4594 - val_mean_squared_logarithmic_error: 0.0188
Epoch 31/100
11/11 [==============================] - 0s 23ms/step - loss: 0.4507 - mean_squared_logarithmic_error: 0.0175 - val_loss: 0.4494 - val_mean_squared_logarithmic_error: 0.0186
Epoch 32/100
11/11 [==============================] - 0s 24ms/step - loss: 0.4346 - mean_squared_logarithmic_error: 0.0162 - val_loss: 0.4386 - val_mean_squared_logarithmic_error: 0.0179
Epoch 33/100
11/11 [==============================] - 0s 22ms/step - loss: 0.4219 - mean_squared_logarithmic_error: 0.0158 - val_loss: 0.4526 - val_mean_squared_logarithmic_error: 0.0212
Epoch 34/100
11/11 [==============================] - 0s 23ms/step - loss: 0.4216 - mean_squared_logarithmic_error: 0.0156 - val_loss: 0.4342 - val_mean_squared_logarithmic_error: 0.0180
Epoch 35/100
11/11 [==============================] - 0s 23ms/step - loss: 0.4223 - mean_squared_logarithmic_error: 0.0170 - val_loss: 0.4229 - val_mean_squared_logarithmic_error: 0.0172
Epoch 36/100
11/11 [==============================] - 0s 24ms/step - loss: 0.4105 - mean_squared_logarithmic_error: 0.0164 - val_loss: 0.4151 - val_mean_squared_logarithmic_error: 0.0179
Epoch 37/100
11/11 [==============================] - 0s 23ms/step - loss: 0.4007 - mean_squared_logarithmic_error: 0.0157 - val_loss: 0.4086 - val_mean_squared_logarithmic_error: 0.0182
Epoch 38/100
11/11 [==============================] - 0s 23ms/step - loss: 0.4065 - mean_squared_logarithmic_error: 0.0169 - val_loss: 0.4072 - val_mean_squared_logarithmic_error: 0.0178
Epoch 39/100
11/11 [==============================] - 0s 22ms/step - loss: 0.3926 - mean_squared_logarithmic_error: 0.0162 - val_loss: 0.4049 - val_mean_squared_logarithmic_error: 0.0184
Epoch 40/100
11/11 [==============================] - 0s 23ms/step - loss: 0.3887 - mean_squared_logarithmic_error: 0.0156 - val_loss: 0.4012 - val_mean_squared_logarithmic_error: 0.0188
Epoch 41/100
11/11 [==============================] - 0s 23ms/step - loss: 0.3799 - mean_squared_logarithmic_error: 0.0155 - val_loss: 0.3888 - val_mean_squared_logarithmic_error: 0.0170
Epoch 42/100
11/11 [==============================] - 0s 23ms/step - loss: 0.3794 - mean_squared_logarithmic_error: 0.0154 - val_loss: 0.3875 - val_mean_squared_logarithmic_error: 0.0170
Epoch 43/100
11/11 [==============================] - 0s 23ms/step - loss: 0.3709 - mean_squared_logarithmic_error: 0.0149 - val_loss: 0.3841 - val_mean_squared_logarithmic_error: 0.0171
Epoch 44/100
11/11 [==============================] - 0s 22ms/step - loss: 0.3761 - mean_squared_logarithmic_error: 0.0147 - val_loss: 0.3771 - val_mean_squared_logarithmic_error: 0.0169

Epoch 45/100
11/11 [==============================] - 0s 22ms/step - loss: 0.3603 - mean_squared_logarithmic_error: 0.0148 - val_loss: 0.3717 - val_mean_squared_logarithmic_error: 0.0165
Epoch 46/100
11/11 [==============================] - 0s 24ms/step - loss: 0.3640 - mean_squared_logarithmic_error: 0.0149 - val_loss: 0.3724 - val_mean_squared_logarithmic_error: 0.0170
Epoch 47/100
11/11 [==============================] - 0s 24ms/step - loss: 0.3582 - mean_squared_logarithmic_error: 0.0148 - val_loss: 0.3645 - val_mean_squared_logarithmic_error: 0.0165
Epoch 48/100
11/11 [==============================] - 0s 23ms/step - loss: 0.3512 - mean_squared_logarithmic_error: 0.0144 - val_loss: 0.3682 - val_mean_squared_logarithmic_error: 0.0171
Epoch 49/100
11/11 [==============================] - 0s 23ms/step - loss: 0.3567 - mean_squared_logarithmic_error: 0.0147 - val_loss: 0.3610 - val_mean_squared_logarithmic_error: 0.0174
Epoch 50/100
11/11 [==============================] - 0s 22ms/step - loss: 0.3496 - mean_squared_logarithmic_error: 0.0145 - val_loss: 0.3619 - val_mean_squared_logarithmic_error: 0.0175
Epoch 51/100
11/11 [==============================] - 0s 23ms/step - loss: 0.3513 - mean_squared_logarithmic_error: 0.0147 - val_loss: 0.3534 - val_mean_squared_logarithmic_error: 0.0167
Epoch 52/100
11/11 [==============================] - 0s 22ms/step - loss: 0.3446 - mean_squared_logarithmic_error: 0.0153 - val_loss: 0.3671 - val_mean_squared_logarithmic_error: 0.0203
Epoch 53/100
11/11 [==============================] - 0s 22ms/step - loss: 0.3423 - mean_squared_logarithmic_error: 0.0157 - val_loss: 0.3477 - val_mean_squared_logarithmic_error: 0.0163
Epoch 54/100
11/11 [==============================] - 0s 23ms/step - loss: 0.3371 - mean_squared_logarithmic_error: 0.0145 - val_loss: 0.3453 - val_mean_squared_logarithmic_error: 0.0160
Epoch 55/100
11/11 [==============================] - 0s 23ms/step - loss: 0.3338 - mean_squared_logarithmic_error: 0.0137 - val_loss: 0.3434 - val_mean_squared_logarithmic_error: 0.0161
Epoch 56/100
11/11 [==============================] - 0s 23ms/step - loss: 0.3286 - mean_squared_logarithmic_error: 0.0131 - val_loss: 0.3403 - val_mean_squared_logarithmic_error: 0.0161
Epoch 57/100
11/11 [==============================] - 0s 22ms/step - loss: 0.3249 - mean_squared_logarithmic_error: 0.0136 - val_loss: 0.3414 - val_mean_squared_logarithmic_error: 0.0168
Epoch 58/100
11/11 [==============================] - 0s 23ms/step - loss: 0.3237 - mean_squared_logarithmic_error: 0.0133 - val_loss: 0.3425 - val_mean_squared_logarithmic_error: 0.0170
Epoch 59/100
11/11 [==============================] - 0s 23ms/step - loss: 0.3189 - mean_squared_logarithmic_error: 0.0129 - val_loss: 0.3316 - val_mean_squared_logarithmic_error: 0.0154
Epoch 60/100
11/11 [==============================] - 0s 24ms/step - loss: 0.3140 - mean_squared_logarithmic_error: 0.0119 - val_loss: 0.3326 - val_mean_squared_logarithmic_error: 0.0165
Epoch 61/100
11/11 [==============================] - 0s 22ms/step - loss: 0.3255 - mean_squared_logarithmic_error: 0.0147 - val_loss: 0.3299 - val_mean_squared_logarithmic_error: 0.0160
Epoch 62/100
11/11 [==============================] - 0s 22ms/step - loss: 0.3257 - mean_squared_logarithmic_error: 0.0148 - val_loss: 0.3266 - val_mean_squared_logarithmic_error: 0.0153
Epoch 63/100
11/11 [==============================] - 0s 24ms/step - loss: 0.3066 - mean_squared_logarithmic_error: 0.0120 - val_loss: 0.3240 - val_mean_squared_logarithmic_error: 0.0157
Epoch 64/100
11/11 [==============================] - 0s 23ms/step - loss: 0.3134 - mean_squared_logarithmic_error: 0.0133 - val_loss: 0.3285 - val_mean_squared_logarithmic_error: 0.0158
Epoch 65/100
11/11 [==============================] - 0s 25ms/step - loss: 0.3180 - mean_squared_logarithmic_error: 0.0140 - val_loss: 0.3276 - val_mean_squared_logarithmic_error: 0.0175
Epoch 66/100
11/11 [==============================] - 0s 23ms/step - loss: 0.3098 - mean_squared_logarithmic_error: 0.0135 - val_loss: 0.3360 - val_mean_squared_logarithmic_error: 0.0184
Epoch 67/100
11/11 [==============================] - 0s 23ms/step - loss: 0.3075 - mean_squared_logarithmic_error: 0.0134 - val_loss: 0.3203 - val_mean_squared_logarithmic_error: 0.0165
Epoch 68/100
11/11 [==============================] - 0s 22ms/step - loss: 0.2999 - mean_squared_logarithmic_error: 0.0125 - val_loss: 0.3134 - val_mean_squared_logarithmic_error: 0.0153
Epoch 69/100
11/11 [==============================] - 0s 24ms/step - loss: 0.2969 - mean_squared_logarithmic_error: 0.0121 - val_loss: 0.3146 - val_mean_squared_logarithmic_error: 0.0160
Epoch 70/100
11/11 [==============================] - 0s 22ms/step - loss: 0.2978 - mean_squared_logarithmic_error: 0.0123 - val_loss: 0.3106 - val_mean_squared_logarithmic_error: 0.0151
Epoch 71/100
11/11 [==============================] - 0s 21ms/step - loss: 0.2948 - mean_squared_logarithmic_error: 0.0126 - val_loss: 0.3078 - val_mean_squared_logarithmic_error: 0.0153
Epoch 72/100
11/11 [==============================] - 0s 22ms/step - loss: 0.2936 - mean_squared_logarithmic_error: 0.0124 - val_loss: 0.3068 - val_mean_squared_logarithmic_error: 0.0153
Epoch 73/100
11/11 [==============================] - 0s 21ms/step - loss: 0.2927 - mean_squared_logarithmic_error: 0.0123 - val_loss: 0.3049 - val_mean_squared_logarithmic_error: 0.0151
Epoch 74/100
11/11 [==============================] - 0s 22ms/step - loss: 0.2907 - mean_squared_logarithmic_error: 0.0125 - val_loss: 0.3013 - val_mean_squared_logarithmic_error: 0.0148
Epoch 75/100
11/11 [==============================] - 0s 21ms/step - loss: 0.2874 - mean_squared_logarithmic_error: 0.0117 - val_loss: 0.3027 - val_mean_squared_logarithmic_error: 0.0152
Epoch 76/100
11/11 [==============================] - 0s 22ms/step - loss: 0.2826 - mean_squared_logarithmic_error: 0.0114 - val_loss: 0.2975 - val_mean_squared_logarithmic_error: 0.0148
Epoch 77/100
11/11 [==============================] - 0s 22ms/step - loss: 0.2787 - mean_squared_logarithmic_error: 0.0117 - val_loss: 0.3007 - val_mean_squared_logarithmic_error: 0.0154
Epoch 78/100
11/11 [==============================] - 0s 24ms/step - loss: 0.2833 - mean_squared_logarithmic_error: 0.0119 - val_loss: 0.2974 - val_mean_squared_logarithmic_error: 0.0156
Epoch 79/100
11/11 [==============================] - 0s 23ms/step - loss: 0.2826 - mean_squared_logarithmic_error: 0.0121 - val_loss: 0.3072 - val_mean_squared_logarithmic_error: 0.0183
Epoch 80/100
11/11 [==============================] - 0s 23ms/step - loss: 0.2864 - mean_squared_logarithmic_error: 0.0134 - val_loss: 0.2920 - val_mean_squared_logarithmic_error: 0.0148
Epoch 81/100
11/11 [==============================] - 0s 23ms/step - loss: 0.2803 - mean_squared_logarithmic_error: 0.0124 - val_loss: 0.2957 - val_mean_squared_logarithmic_error: 0.0161
Epoch 82/100
11/11 [==============================] - 0s 22ms/step - loss: 0.2775 - mean_squared_logarithmic_error: 0.0115 - val_loss: 0.2903 - val_mean_squared_logarithmic_error: 0.0147
Epoch 83/100
11/11 [==============================] - 0s 23ms/step - loss: 0.2741 - mean_squared_logarithmic_error: 0.0112 - val_loss: 0.2890 - val_mean_squared_logarithmic_error: 0.0151
Epoch 84/100
11/11 [==============================] - 0s 24ms/step - loss: 0.2729 - mean_squared_logarithmic_error: 0.0117 - val_loss: 0.2907 - val_mean_squared_logarithmic_error: 0.0162
Epoch 85/100
11/11 [==============================] - 0s 23ms/step - loss: 0.2706 - mean_squared_logarithmic_error: 0.0121 - val_loss: 0.2963 - val_mean_squared_logarithmic_error: 0.0172
Epoch 86/100
11/11 [==============================] - 0s 22ms/step - loss: 0.2718 - mean_squared_logarithmic_error: 0.0116 - val_loss: 0.2858 - val_mean_squared_logarithmic_error: 0.0146
Epoch 87/100
11/11 [==============================] - 0s 23ms/step - loss: 0.2696 - mean_squared_logarithmic_error: 0.0115 - val_loss: 0.2832 - val_mean_squared_logarithmic_error: 0.0147
Epoch 88/100
11/11 [==============================] - 0s 23ms/step - loss: 0.2728 - mean_squared_logarithmic_error: 0.0122 - val_loss: 0.2826 - val_mean_squared_logarithmic_error: 0.0148

Epoch 89/100
11/11 [==============================] - 0s 22ms/step - loss: 0.2681 - mean_squared_logarithmic_error: 0.0121 - val_loss: 0.2838 - val_mean_squared_logarithmic_error: 0.0159
Epoch 90/100
11/11 [==============================] - 0s 23ms/step - loss: 0.2629 - mean_squared_logarithmic_error: 0.0114 - val_loss: 0.2800 - val_mean_squared_logarithmic_error: 0.0148
Epoch 91/100
11/11 [==============================] - 0s 25ms/step - loss: 0.2643 - mean_squared_logarithmic_error: 0.0113 - val_loss: 0.2779 - val_mean_squared_logarithmic_error: 0.0148
Epoch 92/100
11/11 [==============================] - 0s 22ms/step - loss: 0.2641 - mean_squared_logarithmic_error: 0.0123 - val_loss: 0.2811 - val_mean_squared_logarithmic_error: 0.0152
Epoch 93/100
11/11 [==============================] - 0s 26ms/step - loss: 0.2632 - mean_squared_logarithmic_error: 0.0125 - val_loss: 0.2766 - val_mean_squared_logarithmic_error: 0.0147
Epoch 94/100
11/11 [==============================] - 0s 23ms/step - loss: 0.2649 - mean_squared_logarithmic_error: 0.0119 - val_loss: 0.2758 - val_mean_squared_logarithmic_error: 0.0150
Epoch 95/100
11/11 [==============================] - 0s 25ms/step - loss: 0.2705 - mean_squared_logarithmic_error: 0.0141 - val_loss: 0.2968 - val_mean_squared_logarithmic_error: 0.0186
Epoch 96/100
11/11 [==============================] - 0s 24ms/step - loss: 0.2676 - mean_squared_logarithmic_error: 0.0128 - val_loss: 0.2812 - val_mean_squared_logarithmic_error: 0.0165
Epoch 97/100
11/11 [==============================] - 0s 23ms/step - loss: 0.2605 - mean_squared_logarithmic_error: 0.0123 - val_loss: 0.2708 - val_mean_squared_logarithmic_error: 0.0146
Epoch 98/100
11/11 [==============================] - 0s 22ms/step - loss: 0.2578 - mean_squared_logarithmic_error: 0.0117 - val_loss: 0.2759 - val_mean_squared_logarithmic_error: 0.0160
Epoch 99/100
11/11 [==============================] - 0s 25ms/step - loss: 0.2585 - mean_squared_logarithmic_error: 0.0117 - val_loss: 0.2705 - val_mean_squared_logarithmic_error: 0.0149
Epoch 100/100
11/11 [==============================] - 0s 22ms/step - loss: 0.2565 - mean_squared_logarithmic_error: 0.0118 - val_loss: 0.2670 - val_mean_squared_logarithmic_error: 0.0146

In [252]:
import sklearn.metrics as metrics
val_prediction = model.predict(X_test)
val_prediction = scalerY.inverse_transform(val_prediction)
val_prediction = expm1(val_prediction)


val_original_y = scalerY.inverse_transform(y_test)
val_original_y = expm1(val_original_y)


score = 100*max(0, 1-metrics.mean_squared_log_error(val_original_y, val_prediction))
score

78.21634369656071

In [253]:
df_test = pd.read_csv("./dataset/test.csv")
df_test.head()

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location
0,fffe3400310033003300,James Miller,0.35,53.0,18.0,871.0,Wood,5.98,19.11,Yes,Yes,No,Airways,No,Working Class,No,07/03/17,07/06/17,"Santoshaven, IA 63481"
1,fffe3600350035003400,Karen Vetrano,0.67,7.0,4.0,108.0,Clay,6.92,13.96,No,No,No,Roadways,Yes,Working Class,No,05/02/16,05/02/16,"Ericksonton, OH 98253"
2,fffe3700360030003500,Roseanne Gaona,0.61,6.0,5.0,97.0,Aluminium,4.23,13.62,Yes,No,No,Airways,No,Working Class,No,01/04/18,01/06/18,APO AP 83453
3,fffe350038003600,Todd Almanza,0.14,15.0,8.0,757.0,Clay,6.28,23.79,No,Yes,No,Roadways,Yes,Wealthy,No,09/14/17,09/17/17,"Antonioborough, AL 54778"
4,fffe3500390032003500,Francis Rivero,0.63,10.0,4.0,1673.0,Marble,4.39,17.83,No,Yes,Yes,Roadways,No,Working Class,Yes,12/03/17,12/02/17,"Lake Frances, LA 03040"

In [254]:
df_test =  handleMissingValues(df_test)

In [255]:
df_test = handleDates(df_test)

In [256]:
df_test = handleExtraFeatures(df_test)

In [257]:
df_test, label_object = labelEncoding(df_test, onlyTransform= True, label_object= label_object)

In [258]:
df_test, one_hot_object = oneHotEncoding(df_test, onlyTransform=True, one_hot_object = one_hot_object)

In [259]:
df_test.head()

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Fragile,Remote Location,Scheduled Date,Delivery Date,Customer Location,date_difference,is_early,scheduled_day,scheduled_month,scheduled_year,delivery_day,delivery_month,delivery_year,weight_per_shipping,volume,Material_0,Material_1,Material_2,Material_3,Material_4,Material_5,Material_6,Transport_0,Transport_1,Transport_2,Customer Information_0,Customer Information_1
0,fffe3400310033003300,James Miller,0.35,53.0,18.0,871.0,5.98,19.11,1,1,0,0,0,2017-07-03,2017-07-06,"Santoshaven, IA 63481",3,0,3,7,2017,6,7,2017,45.578231,50562.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
1,fffe3600350035003400,Karen Vetrano,0.67,7.0,4.0,108.0,6.92,13.96,0,0,0,1,0,2016-05-02,2016-05-02,"Ericksonton, OH 98253",0,1,2,5,2016,2,5,2016,7.736390,196.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,fffe3700360030003500,Roseanne Gaona,0.61,6.0,5.0,97.0,4.23,13.62,1,0,0,0,0,2018-01-04,2018-01-06,APO AP 83453,2,0,4,1,2018,6,1,2018,7.121880,180.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,fffe350038003600,Todd Almanza,0.14,15.0,8.0,757.0,6.28,23.79,0,1,0,1,0,2017-09-14,2017-09-17,"Antonioborough, AL 54778",3,0,14,9,2017,17,9,2017,31.820092,1800.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,fffe3500390032003500,Francis Rivero,0.63,10.0,4.0,1673.0,4.39,17.83,0,1,1,0,1,2017-12-03,2017-12-02,"Lake Frances, LA 03040",-1,1,3,12,2017,2,12,2017,93.830623,400.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [260]:
customer_ids = df_test["Customer Id"]
customer_ids_df = pd.DataFrame(data = customer_ids,columns=["Customer Id"])
df_test = df_test.drop(redundant_columns,axis=1)
df_test.head()

,Artist Reputation,Height,Width,Weight,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Fragile,Remote Location,date_difference,is_early,weight_per_shipping,volume,Material_0,Material_1,Material_2,Material_3,Material_4,Material_5,Material_6,Transport_0,Transport_1,Transport_2,Customer Information_0,Customer Information_1
0,0.35,53.0,18.0,871.0,5.98,19.11,1,1,0,0,0,3,0,45.578231,50562.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
1,0.67,7.0,4.0,108.0,6.92,13.96,0,0,0,1,0,0,1,7.736390,196.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.61,6.0,5.0,97.0,4.23,13.62,1,0,0,0,0,2,0,7.121880,180.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.14,15.0,8.0,757.0,6.28,23.79,0,1,0,1,0,3,0,31.820092,1800.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0.63,10.0,4.0,1673.0,4.39,17.83,0,1,1,0,1,-1,1,93.830623,400.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [261]:
x_test_submit = scalerX.transform(df_test)
x_test_submit = pd.DataFrame(x_test_submit)
x_test_submit.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26
0,-0.430853,2.722762,1.657391,-0.137527,-0.128609,-0.674037,1.405892,1.416869,-0.803473,-0.434248,-0.458725,1.251531,-1.258766,-0.119596,3.338971,-0.384581,-0.573797,-0.378629,-0.379292,-0.379292,-0.365904,2.604694,1.622124,-1.074291,-0.482506,-0.595119,0.595119
1,0.854837,-1.266682,-1.059398,-0.137810,-0.128508,-0.866978,-0.711292,-0.705781,-0.803473,2.302831,-0.458725,0.021293,0.794429,-0.120260,-0.592572,-0.384581,-0.573797,-0.378629,2.636488,-0.379292,-0.365904,-0.383922,-0.616476,0.930847,-0.482506,-0.595119,0.595119
2,0.613770,-1.353409,-0.865342,-0.137814,-0.128798,-0.879716,1.405892,-0.705781,-0.803473,-0.434248,-0.458725,0.841452,-1.258766,-0.120271,-0.593821,2.600230,-0.573797,-0.378629,-0.379292,-0.379292,-0.365904,-0.383922,1.622124,-1.074291,-0.482506,-0.595119,0.595119
3,-1.274588,-0.572865,-0.283173,-0.137569,-0.128577,-0.498703,-0.711292,1.416869,-0.803473,2.302831,-0.458725,1.251531,-1.258766,-0.119838,-0.467364,-0.384581,-0.573797,-0.378629,2.636488,-0.379292,-0.365904,-0.383922,-0.616476,0.930847,-0.482506,1.680336,-1.680336
4,0.694126,-1.006501,-1.059398,-0.137228,-0.128781,-0.721991,-0.711292,1.416869,1.244596,-0.434248,2.179957,-0.388787,0.794429,-0.118750,-0.576648,-0.384581,-0.573797,-0.378629,-0.379292,2.636488,-0.365904,-0.383922,-0.616476,0.930847,-0.482506,-0.595119,0.595119

In [262]:
prediction = model.predict(x_test_submit)
prediction = scalerY.inverse_transform(prediction)

In [263]:
df_to_submit = pd.concat([customer_ids_df,pd.DataFrame(data = prediction,columns=["Cost"])], axis=1)

In [264]:
# df_to_submit["Cost"] = df_to_submit["Cost"].abs()
df_to_submit["Cost"] = expm1(df_to_submit["Cost"])
df_to_submit.head()

            Customer Id        Cost
0  fffe3400310033003300  260.845398
1  fffe3600350035003400  206.801163
2  fffe3700360030003500  183.486633
3      fffe350038003600  175.126358
4  fffe3500390032003500  369.766907

In [265]:
df_to_submit.to_csv(path_or_buf="./df_to_submit"+".csv",float_format='%.2f',index=False)